@import 'src/assets/style/variables';
.contact-details {
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin: auto;


    img {
        width: 300px;
        align-self: center;
    }

    .tools {
        display: flex;
        align-items: center;
        justify-content: center;
        .btn {
            font-size: 1em;
            text-decoration: none;
            background-color: $secondary3-l1;
            padding: 5px 10px;
            border-radius: 5px;
            cursor: pointer;
        }

        &>* {
            margin-inline: 20px;
        }
    }
}