<div class="contact-details-page">
    <section class="contact-details">
        <img *ngIf="contact._id" src="https://robohash.org/{{contact._id}}.org?set=set3" alt="">
        <h2>Name: {{contact.name}}</h2>
        <h2>Email: {{contact.email}}</h2>
        <h2>Phone: {{contact.phone}}</h2>
        <section class="tools">
            <a [routerLink]="['/contact', 'edit', contact._id]" class="edit btn">Edit</a>
            <button (click)="onDelete()" class="delete btn">Delete</button>
        </section>
    </section>
    <transfer-fund [contact]="contact"></transfer-fund>
    <move-list [title]="'Transactions with ' + contact.name" [moveList]="user.moves | filterArray : 'subjectId' : contact._id!"></move-list>

</div>