@import 'src/assets/style/variables';
@import 'src/assets/style/mixins';

@include mobile-layout {
    .list {
        gap: 20px;
        .move-preview {
            padding: 10px 5px;
            &>*:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}
@include narrow-layout {
    .list {
        gap: 30px;
        .move-preview {
            padding: 10px 10px;
            &>*:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }
}

.move-list {
    .title {
        text-align: center;
    }
    
    .list {
        display: flex;
        flex-direction: column;
        padding: 0;
        max-width: 600px;
        margin: auto;
        margin-block-start: 20px;
        text-align: center;

        .move-preview {
            position: relative;
            background-color: $primary1-d2;
            border-radius: 20px;
            box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.067);
            a {
                text-decoration: none;
                color: inherit;
            }
        }
    }
}