<div class="edit-page">
    <form class="contact-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" [(ngModel)]="contact.name" required="true">
        <label for="email">Email:</label>
        <input type="text" id="email" name="email" [(ngModel)]="contact.email" required="true">
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" [(ngModel)]="contact.phone" required="true">
        <button class="save">Save</button>
    </form>
</div>