@import 'src/assets/style/variables';

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin: auto;
    margin-top: 50px;
    width: 60%;

    input {
        font-size: 1em;
        padding: 5px;
        margin-bottom: 10px;
    }

    button.save {
        position: relative;
        font-size: 1.1em;
        align-self: center;
        background-color: $secondary4-l1;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
        transition: all .3s;

        &::after {
            content: "";
            position: absolute;
            background-color: #00aa75;
            width: 99%;
            height: 0%;
            bottom: 11px;
            left: 0;
            border-radius: 30px;
            transform: skew(0deg, 2deg);
            z-index: -5;
            opacity: 0;
            transition: all 0.4s;
        }

        &:hover {

            &::after {
                height: 80%;
                opacity: 1;
            }
        }
    }
}