@import 'src/assets/style/variables';

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 10px 0;
    margin-top: 50px;
    input {
        font-size: 1em;
        padding: 5px;
        margin-bottom: 10px;
    }

    button.save {
        font-size: 1.1em;
        align-self: center;
        padding: 5px 10px;
        border-radius: 10px;
        cursor: pointer;
    }
}