h1.large {
    font-size: 100px;
    line-height: 100px;
}

h1.small {
    font-size: 64px;
    line-height: 56px;
}

h2.main {
    font-size: 48px;
    line-height: 48px;
}
h3.main {
    font-size: 18px;
    line-height: 28px;
}

p.body1 {
    font-size: 18px;
    line-height: 28px;
}
p.body2 {
    font-size: 15px;
    line-height: 25px;
}