//COLOR 

$primary1: #f1f1f1;
$primary1-d1: darken($primary1, 5%);
$primary1-d2: darken($primary1, 10%);
$primary1-l1: lighten($primary1, 5%);
$primary1-l2: lighten($primary1, 10%);

$primary2: #7FD1AE;
$primary2-d1: darken($primary2, 5%);
$primary2-d2: darken($primary2, 10%);
$primary2-l1: lighten($primary2, 5%);
$primary2-l2: lighten($primary2, 10%);

$primary3: #393939;
$primary3-d1: darken($primary3, 5%);
$primary3-d2: darken($primary3, 10%);
$primary3-l1: lighten($primary3, 5%);
$primary3-l2: lighten($primary3, 10%);

$secondary1: #dd1b1b;
$secondary1-d1: darken($secondary1, 5%);
$secondary1-d2: darken($secondary1, 10%);
$secondary1-l1: lighten($secondary1, 5%);
$secondary1-l2: lighten($secondary1, 10%);

$secondary2: #009063;
$secondary2-d1: darken($secondary2, 5%);
$secondary2-d2: darken($secondary2, 10%);
$secondary2-l1: lighten($secondary2, 5%);
$secondary2-l2: lighten($secondary2, 10%);

$secondary3: #D5D3E5;
$secondary3-d1: darken($secondary3, 5%);
$secondary3-d2: darken($secondary3, 10%);
$secondary3-l1: lighten($secondary3, 5%);
$secondary3-l2: lighten($secondary3, 10%);

$secondary4: #8685EF;
$secondary4-d1: darken($secondary4, 5%);
$secondary4-d2: darken($secondary4, 10%);
$secondary4-l1: lighten($secondary4, 5%);
$secondary4-l2: lighten($secondary4, 10%);


//LAYOUT
$side-margin: 100px;