@import 'src/assets/style/variables';

.contact-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: fit-content;
    margin: 10px auto;
    gap: 50px 0;

    .add-btn {
        background-color: $primary2-d2;
        text-decoration: none;
        color: whitesmoke;
        padding: 5px 10px;
        border-radius: 10px;
    }
}